/* .card-parent {
    max-width: 20rem;
} */


.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 7px;
    border-radius: 35px;
    font-size: 14px;
    line-height: 1.15;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}