.text-nav {
    color: rgba(255, 255, 255, 0.5);
}

.navbar {
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    /* box-shadow: 0 8px 6px -6px black; */
}

a:active {
    text-decoration: none !important;
}

.nav-link {
    text-decoration: none;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
/* 
.drop-special {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 39px, 0px);
} */
